@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    width: 100%;

}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    position: relative;
}

.left, .center, .right {
    display: flex;
    align-items: center;
    
}

.opt {
    width: 140px;
    height: 24px;
}

.perfil {
    height: 34px;
    width: 34px;
}


.search-container{
    position: relative;
    width: 100%;
    max-width: 380px;
}



.navmenu{
    display: flex;
    justify-content: space-between;
}

.center {
    flex-grow: 1;
    justify-content: center;
}

.search{
    position: absolute;
    right: 6rem;
    border: 1px solid black;
    height:40px ;
    width: 57px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0rem;
     
}

textarea {
    width: 100%;
    max-width: 380px; /* Limite máximo de largura para o textarea */
    height: 40px;
    resize: none;
    display: flex;
    flex-direction: row;
    text-align: center;
    line-height: 2rem;
    color: rgba(0, 0, 0, 0.349);
    opacity: 1;
    min-width: 10rem;
    
}


.right{
    display: flex;
    justify-content: right;
    gap: 3rem;
    padding: 1rem;
    align-items: center;
    min-width: 4rem;
}

.main-video{
        display: flex;
        flex-direction: column;
}

.mainvideo{
    height: 40rem;
    width: 70rem;
    box-sizing: border-box;
    position: relative;
    margin-left: 4rem;
    
}

.main-video >h2{
    font-weight: 500;
    
    display: flex;
    align-items: center;
    justify-content: start;
    padding:  1rem  0rem 0rem 4rem;
    line-height: 20px;
    font-size: 20px;


}



.action-video{
    width: 902px;
    height: 42;
    gap: 42px;
    padding: 1em 0rem 0rem 4rem;
}   


.visualization{
    margin-left: 3.9rem;
}